.github .container > h1 {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.github ul {
  max-height: 500px;
  overflow-y: auto;
  padding: 0 5px;
  margin-bottom: 30px;
}

.github ul li {
  background-color: #fff;
  border: solid 1px #e9e9e9;
  border-radius: 10px;
  margin-bottom: 20px;
}

.github ul li:last-child {
  margin-bottom: 0;
}

.github ul li a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
}

.github ul li a .info {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.github ul li a h1 {
  font-weight: bold;
  color: #4e4e4e;
  font-size: 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.github ul li a span {
  font-weight: lighter;
  color: #929292;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.github ul li a img {
  width: 10px;
  height: auto;
  margin-left: 20px;
}

@media only screen and (min-width: 1024px) {
  .github ul li {
    transition: transform 0.2s;
  }

  .github ul li:hover {
    transform: translateX(5px);
  }

  .github ul {
    margin-bottom: 50px;
  }
}
