.jobs h1 {
  color: #4e4e4e;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}

.jobs ul {
  display: flex;
  flex-direction: column;
}

.jobs ul li {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobs ul li#safishare {
  background-color: #3d3d3d;
}

.jobs ul li#yobib {
  background-color: #3bb3e3;
}

.jobs ul li#profitnet {
  background-color: #fd7e23;
}

.jobs ul li a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.jobs ul li a img {
  width: 100%;
  height: auto;
}

.jobs ul li:last-child {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1024px) {
  .jobs h1 {
    font-size: 24px;
  }

  .jobs ul {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .jobs ul li {
    width: 32%;
  }
}
