/*
Colors
  #F5C453 -- primary
  #fafafa -- background
  #4E4E4E -- fonts
  #929292 -- fonts 2
  #E9E9E9 -- borders
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html,
body,
main {
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
