@import 'colors';
@import 'fonts';
@import 'metrics';
@import 'mixins';

.services {
  ul.filter-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: $base-padding 0;

    li {
      flex: 1;
      display: flex;

      &:nth-child(2) {
        button {
          border-left: 0;
          border-right: 0;
        }
      }

      button.filter {
        flex: 1;
        background-color: $white;
        text-transform: uppercase;
        padding: 8px 10px;
        border: none;
        font-weight: bold;
        font-size: $fonts-medium;
        color: $mustard;
        border: solid 1px $mustard;

        &.service-menu-active {
          background-color: $mustard;
          color: $white;
        }

        &:focus {
          outline: 0;
        }

        &:hover {
          cursor: pointer;
        }

        @media only screen and (min-width: $desktop-small) {
          font-size: $fonts-regular;
          padding: 14px;
          @include transition(background-color, 300ms);

          &:hover {
            background-color: $mustard;
            color: $white;
          }
        }
      }
    }
  }
}

.course-list {
  list-style: none;

  @media only screen and (min-width: $desktop-small) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $base-padding;
    grid-row-gap: $base-padding;
  }

  @media only screen and (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .course-item {
    border: solid 1px $porcelain;
    @include box-shadow(2px, 2px, 10px);
    display: flex;
    flex-direction: column;
    margin-bottom: $base-padding;

    @media only screen and (min-width: $desktop-small) {
      margin-bottom: 0;
    }

    .course-thumbnail {
      background-color: $cod-gray;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 175px;
      padding: $base-padding;

      h1 {
        text-align: center;
        text-transform: uppercase;
        color: $white;
        font-weight: bold;
        font-size: $fonts-medium * 2;
      }
    }

    .course-content {
      padding: $base-padding;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        // text-transform: uppercase;
        color: $black;
        font-weight: bold;
        font-size: $fonts-big;
        margin-bottom: $base-padding / 2;
      }

      p {
        line-height: 1.5em;
        font-size: $fonts-regular;
        margin-bottom: $base-padding + 10;
      }

      a {
        text-decoration: none;
        color: $black;
        background-color: $mustard;
        border: none;
        font-weight: bold;
        font-size: $fonts-regular;
        padding: ($base-padding / 2) $base-padding;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }
}
