@import 'colors';
@import 'fonts';
@import 'metrics';
@import 'mixins';

.who-we-are {
  padding-bottom: $base-padding * 2;
  border-bottom: solid 1px $boulder;

  h1 {
    @include title;
  }

  p {
    color: $cod-gray;
    font-weight: lighter;
    font-size: $fonts-regular;
    line-height: 2em;
    text-indent: 40px;
    text-align: justify;
  }
}
